#password_display{
    text-align: center;
    background-color: var(--accent-color);
    width: min(600px, 100%);
    border-radius: 15px;
}

#password_display p{
    color: var(--text-color);
    font-size: 4rem;
}