#password_display{
    text-align: center;
    background-color: var(--accent-color);
    width: min(600px, 100%);
    border-radius: 15px;
    cursor: pointer;
}

#password_display p{
    overflow: auto;
    padding: 10px 0px;
    white-space: nowrap;
    color: var(--text-color);
    font-size: calc(3rem);
    margin: 0;
    
}